@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "All Users";
}

<h1 class="mb-3">All Users</h1>

<div class="row justify-content-center align-items-center mt-4">
    <form asp-action="Index" class="row col-8 offset-2">
        <div class="col-8">
            <input type="email" name="email" id="searchInp" class="form-control" placeholder="Search By Email" />
        </div>
        <div class="col-4">
            <input type="submit" value="Search" class="btn btn-success" />
        </div>
    </form>
</div>

@if (Model.Count() > 0)
{
    <div class="table-responsive">
        <table class="table mt-3 table-striped table-hover">
            <thead>
                <tr>
                    <th style="width: 150px;">@Html.DisplayNameFor(U => U.Id)</th>
                    <th style="width: 150px;">@Html.DisplayNameFor(U => U.FName)</th>
                    <th style="width: 150px;">@Html.DisplayNameFor(U => U.LName)</th>
                    <th style="width: 150px;">@Html.DisplayNameFor(U => U.Email)</th>
                    <th style="width: 150px;">@Html.DisplayNameFor(U => U.PhoneNumber)</th>
                    <th style="width: 150px;">@Html.DisplayNameFor(U => U.Roles)</th>
                    <th>Details</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(M => user.Id)</td>
                        <td>@Html.DisplayFor(M => user.FName)</td>
                        <td>@Html.DisplayFor(M => user.LName)</td>
                        <td>@Html.DisplayFor(M => user.Email)</td>
                        <td>@Html.DisplayFor(M => user.PhoneNumber)</td>
                        <td>@string.Join(" ", user.Roles)</td>
                        <partial name="_ButtonsPartial" model="@user.Id" />
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="mt-4 alert alert-warning">
        <h3>There are No Users</h3>
    </div>
}
